/* Grid styles */
button {
    font-family: "Gill Sans", sans-serif;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
}

#main {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 40px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 860px;
    gap: 2px;
}

.box {
    width: calc((100% - 2px * (16 - 1)) / 16);
    aspect-ratio: 1 / 1;
    background: rgb(186, 186, 186);
    box-sizing: border-box;
}